.form-container{
 max-width: 600px;
 width: 100%;
}

.form-pets{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-input{
  display: flex;
  flex-direction: column;
  width: calc(100% / 2 - 20px);
  padding: 5px;
}

.form-input input,
.form-input select
{
  height: 1.5rem;
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.form-input .form-input__label{
  font-weight: 500;
  font-size: 16px;
  font-family: 'Roboto';
  margin-bottom: 5px;
  text-align: left;
}

.form-input input:focus,
.form-input select:focus
{
 border-color: #9559b6;
}

.form-input input:hover,
.form-input select:hover
{
 border-color: #9559b6;
}

.form-button{
  height: 100%;
  width: 100%;
  height: 40px;
}

.form-button__register{
  height: 100%;
  width: 100%;
  margin-top: 10px;
  outline: none;
  color: #fff;
  background-color: #9559b6;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Roboto';
}

